// $Primary-Orange900: #ca2c00;
$white: #ffffff;
$blue100: #f5f3ff;
$blue500: #2a00ff;
$gray100: #e4e4e4;
$black: #000000;
// $Primary-Orange800: #e33a0b;
// $Primary-Orange700: #f14111;
// $Primary-Orange600: #ff4917;
// $Primary-Orange500: #ff501b;
// $Primary-Orange400: #ff6b3e;
// $Primary-Orange300: #ff8661;
// $Primary-Orange200: #ffa98e;
// $Primary-Orange100: #ffcaba;
// $Primary-Orange50: #fff8f6;
